<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<!-- 필터 S  -->
	<filter>
		<filter-name>Common Filter</filter-name>
		<filter-class>com.filter.CommonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Common Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 필터 E -->
	<!-- 서블릿 S -->
	<!-- 메인페이지 /index.jsp -->
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>com.controller.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/index.jsp</url-pattern>
	</servlet-mapping>
	<!-- 메인페이지 E  -->
	<!-- /member S -->
	<servlet>
		<servlet-name>Member</servlet-name>
		<servlet-class>com.controller.MemberController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Member</servlet-name>
		<url-pattern>/member/*</url-pattern>
	</servlet-mapping>
	<!-- /member E -->
	<!-- /category S -->
	<servlet>
		<servlet-name>Category</servlet-name>
		<servlet-class>com.controller.CategoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Category</servlet-name>
		<url-pattern>/category/*</url-pattern>
	</servlet-mapping>
	<!-- /category E -->
	<!-- /goods S -->
	<servlet>
		<servlet-name>Goods</servlet-name>
		<servlet-class>com.controller.GoodsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Goods</servlet-name>
		<url-pattern>/goods/*</url-pattern>
	</servlet-mapping>
	<!-- /goods E -->
	<!-- /member/mypage S -->
	<servlet>
		<servlet-name>Mypage</servlet-name>
		<servlet-class>com.controller.MypageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mypage</servlet-name>
		<url-pattern>/member/mypage/*</url-pattern>
	</servlet-mapping>
	<!-- /member/mypage E -->
	<!-- 서블릿 E  -->
	<!--  에러 페이지 S  -->
	<error-page>
		<error-code>404</error-code>
		<location>/views/error/404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/views/error/error.jsp</location>
	</error-page>
	<!--  에러 페이지 E  -->
</web-app>
